@import '../../../Scss/global/global.scss';

.block {
    width: 120px;
    display: flex;
    align-items: center;
    justify-content: space-between;

    @include md-d {
        width: 105px;
    }
}