@import '../../../Scss/global/global.scss';

.block {
    padding-top: 64px;
    margin-bottom: 160px;
    display: flex;
    align-items: flex-start;

    @include md-d {
        flex-direction: column;
    }
}

.navigationBlock {
    width: 290px;
}

.ttl {
    font-family: 'Inter';
    font-size: 24px;
    font-weight: 500;
    line-height: 38px;

    padding: 16px 10px;
    margin-bottom: 24px;
    border-bottom: 1px solid #B3B3B3;
}

.navSection {
    width: 290px;
    height: 58px;
    font-family: 'Inter';
    font-size: 16px;
    font-weight: 300;
    line-height: 26px;

    margin-bottom: 5px;
    padding: 16px;
    border-radius: 10px;

    &:hover {
        background-color: #F57520;
        color: #fff;
        cursor: pointer;
    }
}

.navSectionActive {
    background-color: #F57520;
    color: #fff;
}

.quitBtn {
    font-family: 'Inter';
    font-size: 16px;
    font-weight: 300;
    line-height: 26px;

    padding: 16px;

    background-color: transparent;
    border: 0;
    color: #B3B3B3;
    cursor: pointer;
}