@import '../../../Scss/global/global.scss';

.footer {
    width: 100vw;
    height: 500px;
    padding: 80px 16% 23px;
    background-color: #101010;
    
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    
    @include lg-d {
        padding: 80px 8% 23px;
    }
    
    @include md-d {
        flex-direction: column;
        padding: 40px 8% 23px;
        height: 440px;
    }
}

.companyDescription {
    width: 289px;
    margin-top: 64px;
    color: #B3B3B3;

    font-family: 'Inter';
    font-size: 16px;
    font-style: normal;
    font-weight: 300;
    line-height: 160%;

    @include lg-d {
        width: 200px;
    }

    @include md-d {
        width: 289px;
        margin: 32px 0;
    }
}

.listTtl {
    color: #fff;
    font-family: 'Inter';
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: 160%;
    letter-spacing: 0.24px;

    margin-bottom: 32px;

    @include md-d {
        display: none;
    }
}

.additionalLists {
    @include md-d {
        display: none;
    }
}

.listLink,
.contactListText {
    color: #fff;

    font-family: 'Inter';
    font-size: 16px;
    font-style: normal;
    font-weight: 300;
    line-height: 160%;
    transition: .25s;

    display: block;
    margin-bottom: 16px;
}

.listLink:hover {
    color: orange;
}

.contactListItem {
    display: flex;
    align-items: center;
    margin-bottom: 16px;
}

.contactListText {
    width: 156px;
    margin-left: 16px;
    margin-bottom: 0;
}