@import '../../../Scss/global/global.scss';

.main {
    width: 100%;
}

.mainDescriptionParagraphs {
    display: flex;
    align-items: center;
    justify-content: space-between;

    margin-bottom: 58px;

    @include lg-d {
        flex-direction: column;
    }
}

.mainDesctriptionParagraph {
    max-width: 620px;

    color: #4C4C4C;
    font-family: 'Inter';
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 200%;

    @include lg-d {
        margin-bottom: 5px;
    }
}

.guaranteeBrands,
.guaranteeRequirement,
.whenGuaranteeTtl {
    color: #101010;

    font-family: 'Inter';
    font-size: 35px;
    font-style: normal;
    font-weight: 500;

    margin-bottom: 48px;

    @include md-d {
        font-size: 20px;
        margin-bottom: 28px;
    }
}

.tableWrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;

    margin-bottom: 80px;

    @include xl-d {
        flex-direction: column;
    }
}

.tableCell {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 620px;
    height: 77px;
    padding: 24px;
    margin-bottom: 0;

    color: #101010;
    font-family: 'Inter';
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 123%;

    @include md-d {
        width: 96vw;

        font-size: 14;
        padding: 6px;

        text-align: end;
    } 
}

.gray {
    background-color: #F8F8F8;
}


.guaranteeRequirementListItem {
    color: #101010;
    font-family: 'Inter';
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 160%;

    display: flex;
    align-items: center;

    margin-bottom: 25px;

    &::before {
        content: '✓';
        color: #F57520;

        font-size: 18px;
        font-weight: 400;
        margin-right: 15px;
    }
}

.guaranteeAttention {
    color: #101010;
    font-family: 'Inter';
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 200%;

    width: 100%;
    padding: 24px;
    border-radius: 10px;
    background: #F8F8F8;

    margin-bottom: 80px;
}

.whenGuaranteeGrid {
    display: grid;
    grid-template-columns: 840px 400px;
    grid-template-rows: 321px;
    grid-gap: 40px 16px;
    margin-bottom: 160px;
    
    @include lg-d {
        grid-template-rows: auto;
        grid-template-columns: 500px 350px;
    }

    @include md-d {
        display: flex;
        flex-direction: column;
        margin-bottom: 48px;
    }
}

.guaranteeAntiCases {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 840px;
    height: 321px;
    padding: 40px;
    background-color: #F57520;
    padding: 40px;
    border-radius: 10px;

    @include lg-d {
        width: 500px;
        height: auto;
    }

    @include md-d {
        width: 92vw;
    }
}

.guaranteeAntiCaseItem {
    color: #fff;
    font-family: 'Inter';
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 160%;

    max-width: 768px;
    margin-bottom: 10px;
    display: flex;
    align-items: baseline;
    
    
    &::before {
        content: ' ';
        width: 5px;
        height: 5px;
        background-color: #fff;
        border-radius: 50%;

        margin-right: 10px;
    }
}

.bykeImg {
    flex-shrink: 1;
}

.whenGuaranteeParagraph {
    color: #101010;
    font-family: 'Inter';
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 160%;

    padding: 24px;
    background-color: #F8F8F8;
    border-radius: 10px;
    width: 840px;

    @include lg-d {
        width: 500px;
        height: auto;
    }

    @include md-d {
        width: 92vw;
    }
}