.form {
    width: 290px;
}

.hasOnlyLabel {
    display: flex;
    align-items: baseline;

    padding-bottom: 15px;
    border-bottom: 1px solid #E5E5E5;
    margin-bottom: 24px;
}

.formTtl,
.formCheckboxTtl {
    width: 258px;
    height: 29px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    color: #34312D;

    display: flex;
    align-items: center;
    justify-content: space-between;

    margin-bottom: 16px;
    position: relative;

}

.fakeCheckbox {
    width: 41px;
    height: 21px;
    border-radius: 10px;
    padding: 3px;
    background: #F57520;
    position: relative;

    display: flex;
    align-items: center;
    justify-content: flex-start;

    &::before {
        content: '';
        width: 15px;
        height: 15px;
        background-color: #fff;
        border-radius: 50%;
        
        position: absolute;

        transition: .35s;
    }
}

.hasOnly,
.input {
    display: none;
}

.hasOnly:checked + .fakeCheckbox::before{
    right: 3px;
    left: auto;
    transition: .35s;
}

.checkboxBlock {
    display: block;
    padding-bottom: 24px;
    border-bottom: 1px solid #E5E5E5;

    margin-bottom: 20px;
}

.arrow {
    cursor: pointer;
}

.checkboxLabel {
    display: flex;
    align-items: baseline;
    justify-content: space-between;
}

.formCheckboxTtl {
    font-size: 16px;
    color: #777777;

    margin-bottom: 10px;
}

.fakeSquareCheckbox {
    width: 24px;
    height: 24px;
    border: 1.5px solid #34312D;
    border-radius: 3px;
    color: #fff;

    display: flex;
    align-items: center;
    justify-content: center;
}

.input:checked + .fakeSquareCheckbox {
    background-color: #F57520;
    border-color: #F57520;
}

// 

.costSlider {
    width: 100%;
    height: 6px;
    border-radius: 3px;
    background-color: #E5E5E5;
    display: flex;
    align-items: center;

    margin-bottom: 24px;
    position: relative;
}

.costMin,
.costMax {
    width: 16px;
    height: 16px;
    background-color: #fff;
    border: 5px solid #101010;
    border-radius: 50%;
    cursor: pointer;
}

.rangeBlock {
    position: absolute;
    z-index: 2;
    margin: auto 6%;
    height: 100%;
    background-color: #101010;
}

.costInputsContainer {
    width: 90%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.costInput {
    width: 109px;
    height: 46px;
    border: 1px solid #E5E5E5;
    border-radius: 10px;

    padding: 24px;

    font-family: 'Inter';
    font-size: 14px;
    font-weight: 400;
    line-height: 26px;

    &::-webkit-outer-spin-button,
    &::-webkit-inner-spin-button {
        -webkit-appearance: none;
    }

    &[type=number] {
        -moz-appearance: textfield;
    }
}

// 



.removeFilters {
    width: 290px;
    height: 50px;
    padding: 16px 10px 16px 10px;
    border-radius: 10px;
    border: 1px solid #E5E5E5;
    display: flex;
    align-items: center;
    justify-content: center;

    background-color: #fff;

    color: #101010;

    &:hover {
        background-color: #E5E5E5;
        cursor: pointer;
    }
}

.radioActive {
    background-color: #F57520;
}

.hasActive {
    justify-content: flex-end;
}

.range {
   position: absolute;
   height: 5px;
   width: 100%;
   background: none;
   -webkit-appearance: none;
}

input[type="range"]::-webkit-slider-thumb {
    width: 10px;
    height: 10px;
    background-color: #fff;
    border: 7px solid #101010;
    border-radius: 50%;
    cursor: pointer;
    background: none;
    -webkit-appearance: none;
    position: relative;
    z-index: 4;
}
input[type="range"]::-moz-range-thumb {
    width: 8px;
    height: 8px;
    background-color: #fff;
    border: 7px solid #101010;
    border-radius: 50%;
    cursor: pointer;
    background: none;
    -moz-appearance: none;
    position: relative;
    z-index: 4;
}