.block {
    width: 81px;
    height: 81px;
    background-color: #101010;
    border: 0;
    border-radius: 50%;

    display: flex;
    align-items: center;
    justify-content: center;

    z-index: 6;

    position: fixed;
    right: 10%;
    bottom: 10%;

    transition: .35s;

    &:hover {
        cursor: pointer;
        background-color: #101010d3;
    }
}