@import '../../../Scss/global/global.scss';

.navigation {
    @include lg-d {
        display: none;
    }
}

.navigationList {
    width: 614px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-left: 70px;
    @include xl-d {
        margin-left: 0;
    }
}

.navigationLink {
    color: var(--white, #FFF);
    font-family: 'Inter';
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 160%;
    text-transform: uppercase;

    &:hover {
        color: var(--orange, #F57520);
    }
}