@import '../../../Scss/global/global.scss';

.link {
    color: #4C4C4C;
    font-family: 'Inter';
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 160%;
    transition: .25s;
    display: inline-block;
    padding-top: 48px;
    margin-bottom: 64px;
    &:hover {
        color: var(--orange, #F57520);
    }

    @include md-d {
        padding-top: 32px;
        margin-bottom: 32px;
    }
}

.mainTtl {
    color: #101010;
    font-family: "Inter";
    font-size: 44px;
    font-style: normal;
    font-weight: 400;
    line-height: 123%;
    margin-bottom: 40px;

    @include md-d {
        font-size: 30px;
        margin-bottom: 32px;
    }
}

.mainSubTtl {
    color: #101010;
    font-family: 'Inter';
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 160%;

    margin-bottom: 16px;
}

.privacyPolice {
    list-style-type: decimal;
    background-color: #F8F8F8;
    padding: 40px;
    border-radius: 10px;

    margin-bottom: 160px;
    margin-top: 40px;

    @include md-d {
        margin-bottom: 48px;
    }
}

.ruleTtl {
    color: #101010;
    font-family: 'Inter';
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 160%;
    letter-spacing: 0.2px;

    margin-bottom: 24px;
}

.ruleSubTtl {
    color: #101010;
    font-family: 'Inter';
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 200%;

    margin-bottom: 16px;
}