* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    outline: none;
}

body {
    overflow-x: hidden;
}

$brackpoints: (
    sm: 450px,
    md: 750px,
    lg: 1224px,
    xl: 1440px,
);

@mixin sm-u(){
    @media (min-width: map-get($brackpoints, sm)){
        @content;
    }
};

@mixin md-u(){
    @media (min-width: map-get($brackpoints, md)){
        @content;
    }
};

@mixin lg-u(){
    @media (min-width: map-get($brackpoints, lg)){
        @content;
    }
};

// ONLY

@mixin sm(){
    @media (max-width: map-get($brackpoints, md) - .2px) and (min-width: map-get($brackpoints, sm)){
        @content;
    }
};

@mixin md(){
    @media (max-width: map-get($brackpoints, lg) - .2px) and (min-width: map-get($brackpoints, md)){
        @content;
    }
};

@mixin lg(){
    @media (max-width: map-get($brackpoints, xl) - .2px) and (min-width: map-get($brackpoints, lg)){
        @content;
    }
};

@mixin xl(){
    @media (min-width: map-get($brackpoints, xl)){
        @content;
    }
};

//Mobile first

@mixin xl-d(){
    @media (max-width: map-get($brackpoints, xl) - .2px){
        @content
    }
};

@mixin lg-m-d(){
    @media (max-width: map-get($brackpoints, lg-m) - .2px){
        @content
    }
};

@mixin lg-d(){
    @media (max-width: map-get($brackpoints, lg) - .2px){
        @content
    }
};

@mixin md-d{
    @media (max-width: map-get($brackpoints, md) - .2px){
        @content
    }
};

@mixin sm-d{
    @media (max-width: map-get($brackpoints, sm) - .2px){
        @content
    }
};

.wrapper {
    width: 1280px;
    margin: 0 auto;
    position: relative;

    @include xl-d {
        width: 92%;
    }
}