@import '../../../Scss/global/global.scss';

.block {
    width: 400px;
    height: 443px;
    padding: 12px;
    margin-right: 40px;

    position: relative;
    background-color: #fff;

    cursor: pointer;

    &:hover {
        height: auto;
        .seeMore {
            visibility: visible;
        }
    }

    @include md-d {
        width: 300px;
        margin-right: 30px;
    }
}

.flag {
    position: absolute;
    left: 0;
    top: 0;
}

.soldOut,
.hasAtShop {
    color: #F53A20;
    font-family: 'Inter';
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 160%;

    position: absolute;
    top: 0;
    right: 0;
    padding: 16px;
}

.hasAtShop {
    color: #4D932C;
}

.img {
    padding-top: 18px;
    margin-bottom: 16px;

    pointer-events: none;

    @include md-d {
        width: 280px;
    }
}

.ttl {
    color: #101010;
    font-family: 'Inter';
    font-size: 18px;
    font-style: normal;
    font-weight: 300;
    line-height: 160%;
    letter-spacing: 0.18px;
    margin-bottom: 24px;
}

.cost {
    color: #777;
    font-family: 'Inter';
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 123%;

    margin-bottom: 33px;
}

.seeMore {
    width: 368px;
    height: 55px;
    background-color: #F57520;

    visibility: hidden;

    &:hover {
        background-color: #F57F2A;
    }

    &:active {
        background-color: #E1610C;
    }

    border: 0;
    border-radius: 10px;
    padding: 18px 0;
    color: #fff;
    text-align: center;
    font-family: 'Inter';
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 123%;

    @include md-d {
        width: 270px;
    } 
}